@import "tailwindcss";
@import "react-slideshow-image/dist/styles.css";

:root {
  --background: #0d0a0a;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(19, 18, 18, 0.35);
    --foreground: #ededed;
  }
}


body {
  /* background-image: url("/images/shopview.jpg");
  background-position: left; 
  background-size: contain;
  background-repeat: no-repeat; */
  /* min-height: 100vh;  */
  /* background-image: linear-gradient(to right, #bdc3c7, #2c3e50);  */
  /* background-image: linear-gradient(to right, #000000, #434343); */
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}

/* custom arrow styles for react-slideshow-image */
.custom-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.027);
  backdrop-filter: blur(15px);
  color: #111827;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  border: none;
  cursor: pointer;
  font-size: 25px;
}
.custom-arrow:hover { transform: scale(1.05); }
.custom-arrow.prev { margin-right: 8px; }
.custom-arrow.next { margin-left: 8px; }

