@import "tailwindcss";

:root {
  --background: #0d0a0a;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(19, 18, 18, 0.35);
    --foreground: #ededed;
  }
}

body {
  /* background-image: url("/images/shopview.jpg");
  background-position: left; 
  background-size: contain;
  background-repeat: no-repeat; */
  /* min-height: 100vh;  */
  /* background-image: linear-gradient(to right, #bdc3c7, #2c3e50);  */
  /* background-image: linear-gradient(to right, #000000, #434343); */
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}
